/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/* main */
body {
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* layout */
/* small devices */
.lw-3,
.lw-19,
.lw-25,
.lw-50,
.lw-100 {
  width: 100%;
}

/* large devices */
@media (min-width: 992px) {
  .lw-3 {
    width: 3%;
  }

  .lw-19 {
    width: 19%;
  }

  .lw-25 {
    width: 25%;
  }

  .lw-50 {
    width: 50%;
  }
}

/* subject */
.subject {
  cursor: pointer;
}

.btn-triple {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-triple-divider:not(:last-child):after {
  content: ", ";
}

/* buttons */
.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.btn-texts {
  background-color: #2D7480;
  color: #F8F9FA;
}

.btn-relations {
  background-color: #AE58FD;
  color: #F8F9FA;
}

.btn-graph {
  background-color: #BE3730;
  color: #F8F9FA;
}

.caret[aria-expanded="false"]::after {
  content: " \25BC";
  font-size: 10px;
}

.caret[aria-expanded="true"]::after {
  content: " \25B2";
  font-size: 10px;
}

.btn-circle {
  border-radius: 50%;
}

/* buttons hover */
.btn-texts:hover {
  background-color: #1E4952;
  color: #F8F9FA;
}

.btn-relations:hover {
  background-color: #5C2E87;
  color: #F8F9FA;
}

.btn-graph:hover {
  background-color: #842823;
  color: #F8F9FA;
}

.hamburger:hover {
  background-color: white;
  cursor: pointer;
}

/* background */
.bg-rimini-water {
  background-color: #2D7480;
}

/* lists */
.offcanvas-body>.list-group>a.active {
  background-color: #AE58FD;
  border: 1px solid #AE58FD;
}

.bg-rimini-water li,
.bg-rimini-water h3,
.bg-rimini-water a {
  color: #FFF;
  text-decoration: none;
}

.bg-rimini-water a:hover {
  color: #FFF;
  text-decoration: underline;
}

/* scroll */
.scrollarea {
  overflow-y: auto;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* rotate */
.text-rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* cards */
.card-w-500 {
  max-width: 500px;
}

.card-45 {
  height: 45%;
}

/* textarea */
textarea {
  width: 100%;
  height: 25vh;
}

/* arrow */
.arrow::after {
  content: "\0362";
}