<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Paolo Bonora, Martina Dello Buono, Francesca Giovannetti, Francesca Tomasi">
    <title>Tell me the truth</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <main class="d-flex flex-nowrap">
        <!-- texts -->
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary bg-gradient bg-opacity-25 lw-3">
            <!-- sidebar -->
            <a class="hamburger fs-3 text-dark text-center" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Tell me the truth</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group mb-4">
                        <a href="#" class="list-group-item list-group-item-action active">Home</a>
                        <a href="#" class="list-group-item list-group-item-action">Introduction</a>
                    </div>
                    <div>
                        <h6>Knowledge bases</h6>
                    </div>
                    <div class="list-group">
                        <a href="/raimondi" class="list-group-item list-group-item-action" aria-current="true">Giuseppe
                            Raimondi
                            LOD</a>
                        <a href="#" class="list-group-item list-group-item-action">RePIM</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-light bg-gradient bg-opacity-75 lw-100">
            <div class="p-5">
                <h1>Tell me the truth</h1>
                <p class="text-body">Our proposal focuses on user annotation of existing knowledge bases (KB). When
                    proposing new semantic
                    relationships through an interface (UI), users expect that the annotation will extend the KB as well
                    as that the annotation semantics will comply with the conceptual model underlying the KB. The
                    annotation application should act as an intermediary between the user and the formal representation
                    of the knowledge that is being inserted becoming, together with the UI, a critical component of the
                    knowledge management chain. However, how can we ensure that the knowledge being added to the
                    knowledge base is correctly aligned with the semantics of the user annotation? Leveraging two use
                    cases from archival and textual scholarship, we outline a methodology and a testing approach for
                    assessing the semantic neutrality of UIs in annotation applications.</p>
            </div>
            <div class="bg-secondary bg-gradient bg-opacity-50 p-5">
                <h2 class="mb-4">Add knowledge to the knowledge bases</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-w-500">
                            <div class="card-body">
                                <h5 class="card-title">Giuseppe Raimondi LOD</h5>
                                <p class="card-text">Insert one/two lines of description.</p>
                                <a href="/raimondi" class="btn btn-texts">Go to Giuseppe Raimondi LOD</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-w-500">
                            <div class="card-body">
                                <h5 class="card-title">RePIM</h5>
                                <p class="card-text">Insert one/two lines of description.</p>
                                <a href="#" class="btn btn-texts">Go to RePIM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="bg-rimini-water p-5">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="h5">Tell me the truth</h3>
                        <ul>
                            <li><a>Project specifics</a></li>
                            <li><a>Web application development</a></li>
                        </ul>
                        <ul>
                            <li>Credits</li>
                            <li>Licence</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="h5">/DH.arc - Digital Humanities Advanced Research Centre</h3>
                        <ul>
                            <li><a href="https://centri.unibo.it/dharc/en" title="About Dharc research centre">About</a>
                            </li>
                            <li><a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc"
                                    title="All the projects by Dharc">All the projects by /DH.arc</a></li>
                            <li><a href="https://centri.unibo.it/dharc/en/contacts" title="Contacts">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>

</html>